<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление книгами</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #3a3a3a;">

<nav class="navbar navbar-expand" style="background-color: aliceblue;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <form th:action="@{/logout}" method="post" style="margin: auto; display:flex; align-items: center; justify-content: space-between; width: 30%; gap: 10px">
                <a th:href="@{/admin/books/bookings}" class="btn btn-dark">Посмотреть бронирования пользователей</a>
                <button type="submit" class="btn btn btn-danger">Выход</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-4" style="
    margin-top: 100px !important;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;">

    <h1 style="align-self: center">Список книг</h1>

    <!-- Форма поиска -->
    <form th:action="@{/admin/books/search}" method="get" class="mb-3 d-flex justify-content-center" style="gap: 20px">
        <div class="row g-2">
            <div class="col-md-4">
                <input type="text" name="title" class="form-control" placeholder="Поиск по названию">
            </div>
            <div class="col-md-4">
                <input type="text" name="author" class="form-control" placeholder="Поиск по автору">
            </div>
            <div class="col-md-4">
                <input type="text" name="isbn" class="form-control" placeholder="Поиск по ISBN">
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Искать</button>
        <a href="/admin/books/add" class="btn btn-info">Добавить новую книгу</a>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>ISBN</th>
            <th>Дата публикации</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.publishedDate}"></td>
            <td th:text="${book.quantity}"></td>
            <td>
                <a th:href="@{'/admin/books/edit/' + ${book.id}}" class="btn btn-outline-primary btn-sm">Редактировать</a>
                <a th:href="@{'/admin/books/delete/' + ${book.id}}" class="btn btn-outline-danger btn-sm"
                   onclick="return confirm('Вы действительно хотите удалить эту книгу?');">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
