<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Бронирование книги</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #3a3a3a;">
<div class="container mt-4" style="
    margin-top: 100px !important;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 24px;">
    <h1 style="align-self: center">Бронирование книги</h1>
    <div>
        <p><strong>Название:</strong> <span th:text="${book.title}"></span></p>
        <p><strong>Автор:</strong> <span th:text="${book.author}"></span></p>
        <p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
        <p><strong>Дата публикации:</strong> <span th:text="${book.publishedDate}"></span></p>
        <p><strong>Доступно экземпляров:</strong> <span th:text="${book.quantity}"></span></p>
    </div>
    <form th:action="@{'/user/books/book/' + ${book.id}}" method="post">
        <div class="mb-3">
            <label for="quantity" class="form-label">Количество для бронирования</label>
            <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1" th:attr="max=${book.quantity}" required>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger mt-3" th:text="${errorMessage}"></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="btn btn-outline-primary">Забронировать</button>
        <a th:href="@{/user/books}" class="btn btn-outline-danger">Отмена</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
